@import "./styles/reset";
@import "./styles/variables";

@mixin btnDetail {
  content: "";
  width: 100%;
  height: 1px;
  background: map-get($map: $color, $key: dark);
  position: absolute;
  left: 0;
  transition: all 0.5s;
}

@mixin btnStyle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  // background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  & > h1 {
    position: absolute;
    top: 7vh;
    left: 4vw;
    font-size: 0;
    background: map-get($map: $color, $key: gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    strong {
      font: bold 3.6rem/1.4 "arial";
    }
    span {
      display: block;
      font: normal 1.2rem/1 "arial";
      letter-spacing: 1px;
      text-align: center;
    }
  }
  .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    background: map-get($map: $color, $key: gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.4rem;
  }
  .bot-p {
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
    opacity: 0.8;
    font: normal 1.2rem/1 "arial";
    background: map-get($map: $color, $key: gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .player-section {
    width: 20vw;
    height: 43vh;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    transition: transform 1s;
    .player {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: center;
      top: 0;
      left: 0;
      &.on {
        .inner {
          opacity: 1;
          transform: scale(1.1);
        }
      }
      .inner {
        width: 100%;
        height: 100%;
        position: relative;
        background: map-get($map: $color, $key: light);
        padding: 5vh 2.5vw 5vh;
        display: flex;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(map-get($color, shadow), 0.1);
        opacity: 0.6;
        transform: scale(0.8);
        transition: opacity 1s, transform 1s;
        .pic {
          width: 13vw;
          height: 13vw;
          // border-radius: 50%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          // mask-image: url("./imgs/circle.svg");
          // mask-size: 100%;
          // mask-repeat: no-repeat;
          // mask-position: center;
          svg {
            filter: drop-shadow(
              0px 0px 10px rgba(map-get($color, shadow), 0.9)
            );
          }
          &.on {
            svg {
              animation: ani 4s linear infinite;
            }
            .recordbar {
              transform: rotate(0deg);
            }
          }
          .recordbar {
            position: absolute;
            width: 2.1vw;
            height: 2.1vw;
            border-radius: 50%;
            background: rgba(#dcdcfc, 0.3);
            left: -16%;
            bottom: 0%;
            transform: rotate(-30deg);
            transform-origin: center;
            transition: transform 0.4s;
            img {
              position: absolute;
              z-index: 1;
              width: 6.3vw;
              bottom: 50%;
              left: 50%;
            }
          }
        }
        .txt {
          text-align: center;
          width: 100%;
          .tit {
            h2 {
              font-size: 2rem;
              margin-bottom: 1.6vh;
              color: map-get($map: $color, $key: dark);
            }
            p {
              font-size: 1.4rem;
              color: map-get($map: $color, $key: desc);
            }
          }
          .progressbar {
            position: relative;
            width: 100%;
            height: 4px;
            margin: 3vh 0;
            background: rgba(map-get($color, shadow), 0.5);
            border-radius: 3px;
            cursor: pointer;
            .progress {
              position: absolute;
              top: 0;
              left: 0;
              height: inherit;
              width: 0;
              background: map-get($map: $color, $key: gradient);
              border-radius: 3px;
              .cir {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                width: 11px;
                aspect-ratio: 1;
                border-radius: 50%;
                background: map-get($map: $color, $key: gradient2);
                cursor: pointer;
              }
            }
          }
          .btns {
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
              background: map-get($map: $color, $key: gradient2);
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
              opacity: 0.6;
              cursor: pointer;
              padding: 2px;
              transition: all 0.5s;
              &.play {
                transform: scale(1.5);
                opacity: 0.9;
                &:hover {
                  opacity: 1;
                  transform: scale(2);
                }
              }
              &:hover {
                opacity: 1;
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }
  }
  .btnPrev {
    @include btnStyle();
    text-align: left;
    left: 50%;
    transform: translate(-20vw, -50%);
    &:hover {
      span {
        opacity: 0;
        transform: translateX(100%);
      }
      &::before {
        transform: rotate(-30deg);
      }
      &::after {
        transform: rotate(30deg);
      }
    }
    span {
      color: map-get($map: $color, $key: dark);
      font: normal 1.2rem/1 "arial";
      opacity: 1;
      transition: all 0.5s;
      transform: translateX(30%);
    }
    &::before {
      @include btnDetail();
      top: 50%;
      transform: rotate(-180deg);
      transform-origin: left center;
    }
    &::after {
      @include btnDetail();
      bottom: 50%;
      transform: rotate(180deg);
      transform-origin: left center;
    }
  }
  .btnNext {
    @include btnStyle();
    text-align: right;
    right: 50%;
    transform: translate(20vw, -50%);
    &:hover {
      span {
        opacity: 0;
        transform: translateX(-100%);
      }
      &::before {
        transform: rotate(30deg);
      }
      &::after {
        transform: rotate(-30deg);
      }
    }
    span {
      color: map-get($map: $color, $key: dark);
      font: normal 1.2rem/1 "arial";
      opacity: 1;
      transition: all 0.5s;
      transform: translateX(-30%);
    }
    &::before {
      @include btnDetail();
      top: 50%;
      transform: rotate(180deg);
      transform-origin: right center;
    }
    &::after {
      @include btnDetail();
      bottom: 50%;
      transform: rotate(-180deg);
      transform-origin: right center;
    }
  }
}

@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ani2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }
  100% {
    transform: translateY(10%) rotate(360deg);
  }
}

/*로딩 스피너*/

.loading {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    animation: loading 1.5s linear infinite;
    &:nth-child(1) {
      background: crimson;
    }
    &:nth-child(2) {
      background: dodgerblue;
      animation-delay: 0.8s;
    }
  }
}

@keyframes loading {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 10px);
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
  }
  75% {
    top: calc(100% - 10px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
