@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "S-CoreDream";
}

figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
figure > h1 {
  position: absolute;
  top: 7vh;
  left: 4vw;
  font-size: 0;
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 5;
}
figure > h1 strong {
  font: bold 3.6rem/1.4 "Cafe24Ohsquare";
}
figure > h1 span {
  display: block;
  font: normal 1.2rem/1 "S-CoreDream";
  letter-spacing: 1px;
  text-align: center;
}
figure .menu {
  position: absolute;
  top: 8vh;
  right: 4vw;
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.4rem;
  z-index: 5;
}
figure .bot-p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  opacity: 0.8;
  font: normal 1.1rem/1 "S-CoreDream";
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 5;
}
figure .player-section {
  width: 20vw;
  height: 43vh;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  transition: transform 1s;
}
figure .player-section .player {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
}
figure .player-section .player.on .inner {
  opacity: 1;
  transform: scale(1.1);
}
figure .player-section .player .inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  padding: 5vh 2.5vw 5vh;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(186, 200, 224, 0.1);
  opacity: 0.6;
  transform: scale(0.8);
  transition: opacity 1s, transform 1s;
}
figure .player-section .player .inner .pic {
  width: 13vw;
  height: 13vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
figure .player-section .player .inner .pic svg {
  filter: drop-shadow(0px 0px 10px rgba(186, 200, 224, 0.9));
}
figure .player-section .player .inner .pic.on svg {
  animation: ani 4s linear infinite;
}
figure .player-section .player .inner .pic.on .recordbar {
  transform: rotate(0deg);
}
figure .player-section .player .inner .pic .recordbar {
  position: absolute;
  width: 2.1vw;
  height: 2.1vw;
  border-radius: 50%;
  background: rgba(220, 220, 252, 0.3);
  left: -16%;
  bottom: 0%;
  transform: rotate(-30deg);
  transform-origin: center;
  transition: transform 0.4s;
}
figure .player-section .player .inner .pic .recordbar img {
  position: absolute;
  z-index: 1;
  width: 6.3vw;
  bottom: 50%;
  left: 50%;
}
figure .player-section .player .inner .txt {
  text-align: center;
  width: 100%;
}
figure .player-section .player .inner .txt .tit h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.6vh;
  color: #222;
}
figure .player-section .player .inner .txt .tit p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #777;
}
figure .player-section .player .inner .txt .progressbar {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 3vh 0;
  background: rgba(186, 200, 224, 0.5);
  border-radius: 3px;
  cursor: pointer;
}
figure .player-section .player .inner .txt .progressbar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 0;
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  border-radius: 3px;
}
figure .player-section .player .inner .txt .progressbar .progress .cir {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 11px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(to right top, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  cursor: pointer;
}
figure .player-section .player .inner .txt .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
figure .player-section .player .inner .txt .btns li {
  background: linear-gradient(to right top, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.5;
  cursor: pointer;
  padding: 2px;
  transition: all 0.3s;
}
figure .player-section .player .inner .txt .btns li i {
  font-size: 2.5rem;
}
figure .player-section .player .inner .txt .btns li img {
  width: 1.6rem;
}
figure .player-section .player .inner .txt .btns li.play {
  opacity: 0.9;
}
figure .player-section .player .inner .txt .btns li.play:hover {
  opacity: 1;
  filter: saturate(1.5);
}
figure .player-section .player .inner .txt .btns li.load img {
  width: 2rem;
}
figure .player-section .player .inner .txt .btns li:hover {
  opacity: 1;
}
figure .btnPrev {
  width: 35px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  text-align: left;
  left: 50%;
  transform: translate(-18vw, -50%);
}
figure .btnPrev img {
  width: 100%;
}
figure .btnPrev:hover {
  opacity: 1;
}
figure .btnNext {
  width: 35px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  text-align: right;
  right: 50%;
  transform: translate(18vw, -50%);
}
figure .btnNext img {
  width: 100%;
}
figure .btnNext:hover {
  opacity: 1;
}

@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ani2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }
  100% {
    transform: translateY(10%) rotate(360deg);
  }
}
.modal-area {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  width: 100%;
  height: 100vh;
  display: none;
}
.modal-area.active {
  display: block;
}
.modal-area .inner {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.modal-area .inner .modal-lists {
  display: flex;
  flex-wrap: wrap;
}
.modal-area .inner .modal-lists li {
  width: 25%;
}
.modal-area .inner .modal-lists li:nth-child(n+5) {
  margin-top: 6vw;
}
.modal-area .inner .modal-lists li > div {
  position: relative;
  margin: 0 auto;
  width: 13.5vw;
  height: 10vw;
  cursor: pointer;
}
.modal-area .inner .modal-lists li > div:hover svg {
  left: 8vw;
}
.modal-area .inner .modal-lists li > div svg {
  position: absolute;
  width: 10vw;
  height: 10vw;
  top: 0;
  left: 3.5vw;
  transition: left 0.3s;
  filter: drop-shadow(0px 0px 10px rgba(186, 200, 224, 0.7));
}
.modal-area .inner .modal-lists li > div .cover {
  position: relative;
  width: 10vw;
  height: 10vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4);
  color: #fff;
  filter: drop-shadow(0px 0px 10px rgba(186, 200, 224, 0.6));
  z-index: 5;
}
.modal-area .inner .modal-lists li > div .cover h5 {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 400;
}
.modal-area .inner .modal-lists li > div .cover p {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.8;
}