@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
figure > h1 {
  position: absolute;
  top: 7vh;
  left: 4vw;
  font-size: 0;
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
figure > h1 strong {
  font: bold 3.6rem/1.4 "arial";
}
figure > h1 span {
  display: block;
  font: normal 1.2rem/1 "arial";
  letter-spacing: 1px;
  text-align: center;
}
figure .menu {
  position: absolute;
  top: 8vh;
  right: 4vw;
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.4rem;
}
figure .bot-p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  opacity: 0.8;
  font: normal 1.2rem/1 "arial";
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
figure .player-section {
  width: 20vw;
  height: 43vh;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  transition: transform 1s;
}
figure .player-section .player {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
}
figure .player-section .player.on .inner {
  opacity: 1;
  transform: scale(1.1);
}
figure .player-section .player .inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  padding: 5vh 2.5vw 5vh;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(186, 200, 224, 0.1);
  opacity: 0.6;
  transform: scale(0.8);
  transition: opacity 1s, transform 1s;
}
figure .player-section .player .inner .pic {
  width: 13vw;
  height: 13vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
figure .player-section .player .inner .pic svg {
  filter: drop-shadow(0px 0px 10px rgba(186, 200, 224, 0.9));
}
figure .player-section .player .inner .pic.on svg {
  animation: ani 4s linear infinite;
}
figure .player-section .player .inner .pic.on .recordbar {
  transform: rotate(0deg);
}
figure .player-section .player .inner .pic .recordbar {
  position: absolute;
  width: 2.1vw;
  height: 2.1vw;
  border-radius: 50%;
  background: rgba(220, 220, 252, 0.3);
  left: -16%;
  bottom: 0%;
  transform: rotate(-30deg);
  transform-origin: center;
  transition: transform 0.4s;
}
figure .player-section .player .inner .pic .recordbar img {
  position: absolute;
  z-index: 1;
  width: 6.3vw;
  bottom: 50%;
  left: 50%;
}
figure .player-section .player .inner .txt {
  text-align: center;
  width: 100%;
}
figure .player-section .player .inner .txt .tit h2 {
  font-size: 2rem;
  margin-bottom: 1.6vh;
  color: #333;
}
figure .player-section .player .inner .txt .tit p {
  font-size: 1.4rem;
  color: #777;
}
figure .player-section .player .inner .txt .progressbar {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 3vh 0;
  background: rgba(186, 200, 224, 0.5);
  border-radius: 3px;
  cursor: pointer;
}
figure .player-section .player .inner .txt .progressbar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 0;
  background: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  border-radius: 3px;
}
figure .player-section .player .inner .txt .progressbar .progress .cir {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 11px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(to right top, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  cursor: pointer;
}
figure .player-section .player .inner .txt .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
figure .player-section .player .inner .txt .btns li {
  background: linear-gradient(to right top, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.6;
  cursor: pointer;
  padding: 2px;
  transition: all 0.5s;
}
figure .player-section .player .inner .txt .btns li.play {
  transform: scale(1.5);
  opacity: 0.9;
}
figure .player-section .player .inner .txt .btns li.play:hover {
  opacity: 1;
  transform: scale(2);
}
figure .player-section .player .inner .txt .btns li:hover {
  opacity: 1;
  transform: scale(1.5);
}
figure .btnPrev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  left: 50%;
  transform: translate(-20vw, -50%);
}
figure .btnPrev:hover span {
  opacity: 0;
  transform: translateX(100%);
}
figure .btnPrev:hover::before {
  transform: rotate(-30deg);
}
figure .btnPrev:hover::after {
  transform: rotate(30deg);
}
figure .btnPrev span {
  color: #333;
  font: normal 1.2rem/1 "arial";
  opacity: 1;
  transition: all 0.5s;
  transform: translateX(30%);
}
figure .btnPrev::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 0;
  transition: all 0.5s;
  top: 50%;
  transform: rotate(-180deg);
  transform-origin: left center;
}
figure .btnPrev::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 0;
  transition: all 0.5s;
  bottom: 50%;
  transform: rotate(180deg);
  transform-origin: left center;
}
figure .btnNext {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: right;
  right: 50%;
  transform: translate(20vw, -50%);
}
figure .btnNext:hover span {
  opacity: 0;
  transform: translateX(-100%);
}
figure .btnNext:hover::before {
  transform: rotate(30deg);
}
figure .btnNext:hover::after {
  transform: rotate(-30deg);
}
figure .btnNext span {
  color: #333;
  font: normal 1.2rem/1 "arial";
  opacity: 1;
  transition: all 0.5s;
  transform: translateX(-30%);
}
figure .btnNext::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 0;
  transition: all 0.5s;
  top: 50%;
  transform: rotate(180deg);
  transform-origin: right center;
}
figure .btnNext::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 0;
  transition: all 0.5s;
  bottom: 50%;
  transform: rotate(-180deg);
  transform-origin: right center;
}

@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ani2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }
  100% {
    transform: translateY(10%) rotate(360deg);
  }
}
/*로딩 스피너*/
.loading {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading span {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  animation: loading 1.5s linear infinite;
}
.loading span:nth-child(1) {
  background: crimson;
}
.loading span:nth-child(2) {
  background: dodgerblue;
  animation-delay: 0.8s;
}

@keyframes loading {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 10px);
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
  }
  75% {
    top: calc(100% - 10px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}