$color: (
  black: #000,
  light: #fff,
  dark: #333,
  background: #f2f2f2,
  inner: #f0f7ff,
  dot: #e4f1ff,
  title: #222,
  desc: #777,
  shadow: #bac8e0,
  gradient:
    linear-gradient(
      to right top,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8
    ),
  gradient2:
    linear-gradient(
      to right top,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8
    ),
);
